.page.theme_dark {
  --main-title-color: #db00ff;
  --title-color: #ff0070;
  --color: #f1b2ce;
  --accent-color: #ff0070;
  --bg-color: #000028;
  --accent-bg-color: #ff0070;
  --button-color: #ff0070;
  --border-color: #ff0070;
}

.page.theme_dark > .header {
  background-image: url(../images/cover-image-dark.png);
}