.page.theme_light {
  --bg-color: #fff1f7;
}

.page.theme_light > .header {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
  }
}
